

<!-- =======================NAVBAR ======================= -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(234, 81, 81);">
    <div class="container-fluid" id = "container-nav">
      <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/404px-International_Pok%C3%A9mon_logo.svg.png" style="width:40%"></a >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="mypoke" (click)="MyPokemonModal()" >
              <a class="nav-link"> <h3>My Pokemons</h3></a>
            </div>
            
          </li>
          
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>                  


  <!-- =======================BODY=======================-->
  <div class="container" id="container-main">
      <div class="row" style="width : 100%">
  
          <div *ngFor= "let pokemonlist of pokemonlists" class="col-md-6 col-xl-3">

              <div   class="card m-b-30" id="card">
                  <div class="card-body row" (click)="DetailsModal(pokemonlist)" >
                      <div class="col-8 card-title align-self-center mb-0" id="card">
                          <img src="{{pokemonlist?.imgurl}}" alt="" class="img-fluid rounded-circle w-80" style="width : 150px; height: 150px;">
                      </div>
                      <div class="col-8 card-title align-self-center mb-0" id="card">
                          <h5>{{pokemonlist?.name}}</h5>
                          
                      </div>
                  </div>
                  <div class="card-body" id="card">
                      <div class="float-right btn-group btn-group-sm">
                          <a (click)="AddModal(pokemonlist)"  class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-title="Catch" style="color: white;"><b>Catch </b> </a>
                      </div>
                    
                  </div>
              </div>

              
          </div>

      </div>
  </div>

<!--=============================== MY POKEMON MODAL========================= -->
<div class="modal fade"  id="MyPokeModal" tabindex="-1" aria-labelledby="MyPokeModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Catch Pokemons</h5>
      </div>
      <div class="modal-body">
        <div class="row" style="width : 100%">
  
          <div *ngFor= "let pokemon of pokemons" class="col-md-6 col-xl-3">

              <div class="card m-b-30" >
                  <div class="card-body row" >
                      <div class="col-4">
                          <img src="{{pokemon?.imgurl}}" alt="" class="img-fluid rounded-circle w-60">
                      </div>
                      <div class="col-8 card-title align-self-center mb-0" >
                          <h5 style = "text-transform: uppercase;">{{pokemon?.name}}</h5 >
                          
                      </div>
                  </div>
                  <ul class="list-group list-group-flush" >
                      <li class="list-group-item">{{pokemon?.nickname}}</li>
                      
                  </ul>
                  <div class="card-body" >
                      <div class="float-right btn-group btn-group-sm">
                          <!-- <a (click)="AddModal()"  class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-title="Catch"><i class="fa fa-futbol-o"></i> </a> -->
                          <a (click)="EditDeleteModal('edit',pokemon)"  class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-title="Edit"><i class="fa fa-pencil"></i> </a>
                          <a (click)="EditDeleteModal('delete',pokemon)"  class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-title="Release" style = "color: white"> <b> Release</b></a>
                      </div>
                    
                  </div>
              </div>

              
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- =============================== DETAILS MODAL========================= -->
<div class="modal fade"  id="DetailsModal" tabindex="-1" aria-labelledby="DetailsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pokemon's Detail</h5>
        
      </div>
      <div class="modal-body" >
        <div class="card " style="width: 18rem; ">
          <img class="card-img-top" src={{detailPokemon?.imgurl}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{detailPokemon?.name}}</h5>
            <div class="card-row" >
              <div class="card-col">
                <div class="moves" *ngFor="let move of detailPokemon?.moves">
                  <ul>
                    <b>Moves :</b>
                    <li>
                      {{move}}
                    </li>
                  </ul>                 
                </div>
                <div class="types" *ngFor="let type of detailPokemon?.types">
                  <ul> {{type}}</ul>
                </div>
                
              </div>
            </div>
    
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  type="submit" class="btn btn-primary" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--=============================== ADD MODAL========================= -->
  <div class="modal fade"  id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Catch Pokemons</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #addForm="ngForm" (ngSubmit)="onAddPokemon(addForm)">
        <div class="modal-body">
              <input type="text" ngModel name="nickname" class="form-control" id="name" placeholder="Name" required>
              <input type="hidden" ngModel="{{ addPokemon?.name}}" name="name" class="form-control" id="email" placeholder="Email" required>
              <input type="hidden" ngModel=0 name="fibonacci" class="form-control" id="jobTile" placeholder="Job title" required>
              <input type="hidden" ngModel=0 name="changes" class="form-control" id="phone" placeholder="Phone" required>
              <input type="hidden" ngModel="{{ addPokemon?.imgurl}}" name="imgurl" class="form-control" id="imageUrl" placeholder="Image URL" required>
              <input type="hidden" ngModel="{{addPokemon?.id}}" name="pokemonid" class="form-control" id="pokemonid" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-pokemon-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button  type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
      </div>
    </div>
  </div>

  <!--=============================== EDIT MODAL========================= -->
  <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Pokemon Nickname</h5>
        </div>
        <form #editForm="ngForm">
          <div class="modal-body">
           
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">New Nickname</label>
              <input ngModel="{{updatePokemon?.nickname}}" name = "nickname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}">
            </div>
            <input ngModel="{{updatePokemon?.name}}" name = "name" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}">
            <input ngModel="{{updatePokemon?.imgurl}}" name = "imgurl" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}">
            <input ngModel="{{updatePokemon?.id}}" name = "id" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}">
            <input ngModel="{{updatePokemon?.changes}}" name = "changes" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}">
            <input ngModel="{{updatePokemon?.fibonacci}}" name = "fibonacci" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}">       
            <input ngModel="{{updatePokemon?.pokemonid}}" name = "pokemonid" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{updatePokemon?.name}}"> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id = "button-edit-pokemon" data-dismiss="modal">Close</button>
            <button (click)="onUpdatePokemon(editForm.value)" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--=============================== DELETE MODAL========================= -->
  <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Release Pokemon</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to release pokemon {{deletePokemon?.name}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeletePokemon(deletePokemon!.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
 

